/* img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt*="right"] {
    float: right;
    clear: right;
    margin-left: 1rem;
    margin-bottom: 2px;
    margin-top: 2px;
}
img[alt*="left-align"] {
  float: left;
  margin-right: 10px;
}
img[alt*="portrait"] {
  border-radius: 100%;
} */

/*center image*/
img { 
  display: block !important; 
  margin-left: auto !important; 
  margin-right: auto !important; 
  } 

.image-captions-caption {
  text-align: center;
}

.cm-s-obsidian .cm-strong,
.markdown-preview-view strong {
    color: #81b37c !important;
}

.cm-s-obsidian span.cm-header-2,
.markdown-preview-view h2 {
  
  border-bottom: 2px solid #4c644a;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.iframe-container {
        display: grid;
    }
iframe {
    width: 40vw;
    height: 25vw;
    display: block;
    margin-left: auto;   /* Automatic margin from left */
    margin-right: auto; /* Automatic margin from right */
}
/*
.markdown-preview-view h3 {
    color: #AFE0CE;
  }
  
  .cm-s-obsidian span.cm-header-3 {
    color: #AFE0CE !important;

  .markdown-preview-view h5 {
    color: #86615C; 
  }
  
  .cm-s-obsidian span.cm-header-5 {
    color: #86615C !important; 


.callout {
    background-color: #353b3d;
  }
   Custom styles for callout title
  .callout-title {
    color: #ffffff; 
  } 

  .markdown h5 {
    color: #86615C; 
  */