
body
{
  --h1-color: rgb(36, 132, 124);
  --h2-color: rgb(36, 132, 124);

  --bold-color: rgb(36, 132, 124);
}

img{
  display: block;
  margin: 0 auto;

}
.image-captions-figure {
  margin: 0 auto;
}
